<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="item" class="com.vinaylogics.springbaiscs.springcorexml.model.Item">

    </bean>

    <bean id="store" class="com.vinaylogics.springbaiscs.springcorexml.model.Store">
        <constructor-arg name="item" ref="item"/>
    </bean>
    <bean id="store1" class="com.vinaylogics.springbaiscs.springcorexml.model.Store">
        <property name="item" ref="item"/>
    </bean>

    <bean id="store2" class="com.vinaylogics.springbaiscs.springcorexml.model.Store" autowire="byType"/>
    <bean id="store3" class="com.vinaylogics.springbaiscs.springcorexml.model.Store" autowire="byName"/>

    <bean id="address" class="com.vinaylogics.springbaiscs.springcorexml.model.Address">
        <property name="addressList">
            <list>
                <value>INDIA</value>
                <value>USA</value>
                <value>USA</value>
                <value>Pakistan</value>
            </list>
        </property>
        <property name="addressSet">
            <set>
                <value>INDIA</value>
                <value>USA</value>
                <value>USA</value>
                <value>Pakistan</value>
            </set>
        </property>
        <property name="addressMap">
            <map>
                <entry key="1" value="India"/>
                <entry key="2" value="Pakistan"/>
                <entry key="3" value="USA"/>
                <entry key="4" value="USA"/>
            </map>
        </property>
        <property name="addressProp">
            <props>
                <prop key="one">INDIA</prop>
                <prop key="one">INDIA</prop>
                <prop key="two">Pakistan</prop>
                <prop key="three">INDIA</prop>
                <prop key="four">INDIA</prop>
            </props>
        </property>
        <property name="name" value=""/>
        <property name="nullName"><null/></property>
    </bean>
</beans>